html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	position: relative;
}

.main {
	padding-top: 80px;
	padding-bottom: 80px; /* Igual ao height do footer */
}

.footer {
	box-sizing: border-box;
	height: 80px; /* Igual ao padding do wrapper */
	width: 100%;
	bottom: 0;
	position: absolute;
	margin-top: 80px;
	box-shadow: 0px -29px 80px 0px #888a85;
}

.footer-info {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding-top: 37px;
}

.footer-info a {
	font-size: 1em;
	color: #c4c4c4;
}