@CHARSET "UTF-8";
body {
    font-family:  'Open Sans', sans-serif;
}
.background-primary {
    background: #24508d;
}
.background-primary_light {
    background: #009f8c;
}
.background-primary_dark {
    background: #87858f;
}
.background-secondary {
    background: #24508d;
}
.background-secondary_light {
    background: #d3d7cf;
}
.background-secondary-dark_light {
    background: #1cbab6;
}
.background-secondary_dark {
	background: #453634;
}
.color_primary  {
    color: #4a4a4a;
}
.color_primary_light {
    color: #ffffff;
}
.color-secondary {
    color: #009f8c;
}
.color-secondary_light {
    color: #c4c4c4;
}
.color-secondary_darck {
    color: #453634;
}
.color-secondary_darck_mediun {
    color: #a8a198;
}

.color-secondary_darck_light {
    color: #888888;
}
.color_primary_mediun_light {
    color: #918b82;
}
.font-primary {
    font-family:  'Open Sans', sans-serif;
}
.font-secondary {
    font-family:  ;
}
.font-primary_dark {
    font-family: '';
}
.font-primary-italic {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}
.font-primary-bold {
	font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    
}
::-webkit-input-placeholder {
   	color: #7C7C7C;
}
.font-primary-bold_mediun {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.font-secondary-light {
    font-family: 'Oswald-Light';
}
a {
    text-decoration: none;
}
a:link {
    color: #000;
}
a:visited {
    color: #000;
}
a:hover {
    color: #000;
}
a:active {
    color: #00F;
}
.error {
    color: red;
    font-size: 0.9em;
}